@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<BookStore.Models.Sach>

@{
    ViewBag.Title = "Sách Bán Chạy";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Danh Sách 20 Sản Phẩm Bán Chạy</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().MaSach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().TenSach)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().GiaBan)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.First().AnhBia)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.First().SoLuongDaBan)
        </th>
        <th></th>


    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaSach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaBan)
            </td>

            <td>
                <div id="AnhBia"><img src="@Url.Content("~/Assets/HinhAnhSP/"+item.AnhBia)" width="100" height="150" /></div>
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.SoLuongDaBan)
            </td>


            <td>
                @Html.ActionLink("Chỉnh sửa", "ChinhSua", "QuanLySanPham", new { @MaSach = item.MaSach }, null) |
                @Html.ActionLink("Hiển thị", "HienThi", "QuanLySanPham", new { @MaSach = item.MaSach }, null) |
                @Html.ActionLink("Xóa", "Xoa", "QuanLySanPham", new { @MaSach = item.MaSach }, null)
            </td>
        </tr>
    }

</table>
@*Tạo link liên kết trang*@
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("SachBanChay","Kho", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>



